html {
    background: url("../images/background.jpg") repeat-y scroll 0 0 transparent;
    font: 12px Trebuchet MS,Arial,Helvetica,sans-serif;
}
body {
    min-width: 1000px;
}
a {
    color: #FFFFFF;
    text-decoration: underline;
}
a:hover {
    color: #FFFFFF;
}
h2 {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border-radius: 8px 8px 0 0;
    color: #E24816;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    line-height: normal;
    margin: 0;
    padding: 5px 20px 0;
}
h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0;
}
h3:hover {
    color: #FFFFFF;
}
h4 {
    color: #5F1E09;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 0 20px;
    padding: 0;
}
h4 b {
    color: #5F1E09;
    font-weight: bold;
}
dl.no-format, ul.no-format, ol.no-format, ul.no-format li, ol.no-format li, dl.no-format dd, dl.no-format dt {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
}
#logo {
    background-image: url("../images/top-logo.jpg");
    float: right;
    height: 40px;
    margin-right: 100px;
    width: 200px;
}
#memu {
    display: block;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
}
#menu ul {
    background: url("../images/menu_bg.png") repeat-x scroll left top transparent;
    height: 34px;
    line-height: 34px;
    margin: 10px auto 0;
    padding: 0;
    text-decoration: none;
    width: 1000px;
}
#menu ul li.left {
    clear: left;
    display: block;
    float: left;
    height: 34px;
    width: 38px;
}
#menu ul li.right {
    clear: right;
    display: block;
    float: right;
    height: 34px;
    width: 60px;
}
#menu ul li {
    display: inline;
    float: left;
    list-style: none outside none;
    text-align: center;
    text-decoration: none;
    width: auto;
}
#menu ul li a {
    color: #E24816;
    display: block;
    padding: 0 25px;
    text-decoration: none;
    text-transform: inherit;
}
#menu ul li em {
    background: url("../images/menu_sep.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 34px;
    width: 2px;
}
#menu ul li.sep {
    background: url("../images/menu_sep.png") no-repeat scroll left top transparent;
    width: 2px;
}
#menu ul li a:hover, #menu ul li a.active {
    background: url("../images/menu_over.png") repeat-x scroll center top transparent;
    color: white;
    text-decoration: none;
}
#menu ul li a.active {
    cursor: default;
    font-weight: bold;
}
#content-area {
    color: #FFFFFF;
    margin: -2px auto 0;
    overflow: hidden;
    position: relative;
    width: 1010px;
}
#main-col {
    display: inline;
    float: left;
    margin: 10px 0 10px 5px;
    min-height: 520px;
    overflow: hidden;
    width: 1000px;
}
#main-left {
    float: left;
    margin-right: 10px;
    width: 190px;
}
#main-right {
    float: left;
    width: 800px;
}
#main-play-left {
    float: left;
    margin-right: 10px;
    width: 345px;
}
#main-play-right {
    float: left;
    width: 640px;
}
#main-play-right2 {
    float: left;
    margin-left: 375px;
    width: 615px;
}
#main-player {
    margin: 0 0 0 20px;
}
#main-under-player-left {
    float: left;
    font-size: 14px;
    list-style: none outside none;
    margin: 10px 0 0 20px;
    width: 180px;
}
#main-under-player-right {
    float: left;
    list-style: none outside none;
    margin: 10px 0 20px;
    width: 435px;
}
form, input, select, textarea {
    color: #E24816;
    margin: 0;
    padding: 0;
}
div.box2 {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #262626;
    margin: 0;
    position: relative;
    width: 200px;
}
div.box2 .input_text {
    background: none repeat scroll 0 0 #262626;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
    padding: 10px;
    width: 200px;
}

div.box {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #262626;
    margin: 0 auto;
    position: relative;
    width: 495px;
}
div.box h1 {
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
}
div.box label {
    border-bottom: 1px solid #161712;
    border-top: 1px solid #262626;
    display: block;
    padding: 10px 0;
    width: 100%;
}
div.box p {
    background: none repeat scroll 0 0 #1C1C1C;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #262626;
    display: block;
    padding: 10px 0 10px 30px;
}
div.box label span {
    color: #E24816;
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px 20px 0 0;
    text-align: right;
    width: 100px;
}
div.box label green {
    color: #16F249;
    font-size: 14px;
}
div.box label red {
    color: #F00909;
    font-size: 14px;
}
div.box .input_text {
    background: none repeat scroll 0 0 #262626;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
    padding: 10px;
    width: 200px;
}
div.box .input_select {
    background: none repeat scroll 0 0 #262626;
    color: #E24816;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
    padding: 10px;
    width: 200px;
}
div.box .message {
    background: none repeat scroll 0 0 #262626;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
    height: 119px;
    overflow: hidden;
    padding: 7px;
    width: 350px;
}
div.box .button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    left: 382px;
    margin: 0 0 10px;
    padding: 4px 7px;
    position: relative;
    top: 10px;
    width: 100px;
}
.top-filter form {
    color: #FFFFFF;
    font-size: 16px;
}
.top-filter select {
    background: none repeat scroll 0 0 #262626;
    color: #E24816;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
    padding: 10px;
    width: 200px;
}
.related-col-pic {
    float: left;
    font-size: 14px;
    width: 120px;
}
.related-col-body {
    color: #000000;
    float: left;
    font-size: 12px;
    padding-right: 5px;
    width: 175px;
}
ul.c-tabs {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border-radius: 8px 8px 0 0;
    font-size: 12px;
    height: 35px;
    margin: 0;
    overflow: hidden;
    padding-left: 25px;
    width: 320px;
}
ul.c-tabs li {
    display: inline;
    float: left;
    height: 35px;
    line-height: 30px;
    margin-right: 5px;
    overflow: hidden;
}
ul.c-tabs li span {
    float: left;
    height: 35px;
}
ul.c-tabs li span a {
    color: #E24816;
    float: left;
    font-size: 16px;
    height: 35px;
    padding: 0 8px;
    text-decoration: underline;
}
ul.c-tabs li.crt {
    font-weight: bold;
    line-height: 30px;
}
ul.c-tabs li.crt span a {
    color: #E24816;
    cursor: default;
    font-size: 16px;
    text-decoration: underline;
}
ul.c-tabs li.crt span a:hover {
    text-decoration: underline;
}
ul.c-tabs li span a:hover {
    text-decoration: underline;
}
.tab-cont {
    overflow: hidden;
    padding: 5px 0;
    width: 340px;
}
.horiz-thumbs-list {
    margin-bottom: 10px !important;
    padding: 0;
}
.horiz-thumbs-list li {
    border-bottom: 1px solid #000000;
    display: inline;
    float: left;
    margin: 0 10px 5px 0;
    width: 340px;
}
.horiz-thumbs-list li:hover {
    background: none repeat scroll 0 0 #F16F21;
}
.horiz-thumbs-list li img.thumb {
    border: 4px solid #FFFFFF;
    display: block;
    height: 64px;
    margin: 4px;
    width: 96px;
}
.horiz-thumbs-list li img.thumb:hover {
    border-color: #FFFFFF;
}
.horiz-thumbs-list li p {
    color: #13BEEB;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 5px 0 0 10px;
}
.horiz-thumbs-list li div.thumbholder img {
    border: 0 none;
    height: 117px;
    width: 142px;
}
.horiz-thumbs-list li p a {
    color: #239DF6;
}
.catplainlist {
    font-size: 16px;
    font-weight: bold;
    list-style: none outside none;
    margin-top: -7px;
    padding: 0 0 10px 20px;
}
.catplainlist li a {
    color: #FFFFFF;
    text-decoration: none;
}
.catplainlist li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
ul.catelist {
    list-style: none outside none;
    margin: 0;
}
ul.catelist li {
    border: 1px solid #333333;
    float: left;
    height: 250px;
    margin: 10px 5px 10px 0;
    padding: 10px;
    width: 160px;
}
ul.catelist li img {
    border: 0 none;
    height: 226px;
    width: 160px;
}
ul.catelist li span {
    color: #FFFFFF;
    font-size: 12px;
}
ul.thumbvideo {
    list-style: none outside none;
    margin: 0;
}
ul.thumbvideo li {
    border: 1px solid transparent;
    float: left;
    height: 200px;
    margin: 10px 5px 10px 0;
    padding-left: 10px;
    width: 170px;
}
ul.thumbvideo li:hover {
    background: none repeat scroll 0 0 #F16F21;
    border: 1px solid #000000;
}
ul.thumbvideo li img {
    border: 0 none;
    height: 120px;
    width: 160px;
}
ul.thumbvideo li div.thumbholder {
    color: #000000;
}
ul.thumbvideo li img.hover {
    background: none repeat scroll 0 0 red;
}
#home {
    width: 1000px;
}
#home-right {
    float: left;
    width: 250px;
}
#home-left {
    float: left;
    margin-right: 10px;
    width: 730px;
}
.home-top5 {
    border-radius: 5px 5px 5px 5px;
    padding: 0 2px;
}
.home-brick {
    border-bottom: 1px solid #6B6464;
    font-size: 9px;
    height: 39px;
    margin-bottom: 15px;
    padding: 0 8px;
    position: relative;
}
.home-brick:hover {
    background: none repeat scroll 0 0 #F16F21;
}
.home-top5-num {
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 2px;
    width: 19px;
}
.home-top5-pic {
    border: 1px solid #CCCCCC;
    float: left;
    height: 30px;
    margin: -20px 5px 0 20px;
    padding: 0;
    vertical-align: super;
    width: 30px;
}
.home-top5-title {
    font-size: 12px;
    margin-left: 60px;
    margin-top: -20px;
}
.home-mem {
    min-height: 81px;
    padding: 0 2px;
}
.home-mem-pic {
    border: 1px solid #CCCCCC;
    float: left;
    height: 30px;
    padding: 0;
    vertical-align: super;
    width: 30px;
}
.home-mem-title {
    font-size: 13px;
    margin-left: 45px;
}
#login-box {
    float: right;
    font-size: 12px;
    margin: 5px 50px 0 0;
}
#copyright-bar {
    border-bottom: 1px solid #000000;
    clear: both;
    font-weight: bold;
    height: 39px;
    margin-top: 10px;
    overflow: hidden;
    width: 1007px;
}
#copyright-bar .wrapper {
    height: 39px;
    line-height: 40px;
    text-align: center;
}
.clearfix {
}
ul.paging {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border-radius: 0 0 5px 5px;
    float: left;
    font-size: 16px;
    padding: 5px 0 5px 15px;
    width: 785px;
}
ul.paging a.prevp {
    color: #E24816;
    margin-right: 15px;
}
ul.paging a.nextp {
    color: #E24816;
    margin-left: 5px;
}
ul.paging a.normal {
    color: #E24816;
    margin-right: 5px;
    padding: 0 3px;
}
ul.paging a.selected {
    border: 2px solid #FFFFFF;
    color: #E24816;
    margin-right: 5px;
    padding: 0 3px;
}
.jcarousel-skin-tango {
    padding: 0 0 10px 25px;
}
.jcarousel-skin-tango .jcarousel-container {
    border-radius: 10px 10px 10px 10px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 10px 40px;
    width: 880px;
}
.jcarousel-skin-tango .jcarousel-item {
    height: 130px;
    width: 160px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 15px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 130px;
    width: 870px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../images/next-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 60px;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../images/prev-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 5px;
    position: absolute;
    top: 60px;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}
#ad468x60 {
    color: #FFFFFF;
    float: left;
    height: 60px;
    width: 468px;
}
#ad300x250 {
    color: #FFFFFF;
    float: left;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 300px;
}
#ad728x90 {
    color: #FFFFFF;
    float: left;
    height: 90px;
    width: 728px;
}
#adfront728x90 {
    color: #FFFFFF;
    float: left;
    height: 90px;
    margin-bottom: 20px;
    margin-left: 136px;
    margin-top: 10px;
    width: 728px;
}
#adfooter728x90 {
    color: #FFFFFF;
    float: left;
    height: 90px;
    margin-bottom: 20px;
    margin-left: 136px;
    margin-top: 10px;
    width: 728px;
}
#adunder728x90 {
    color: #FFFFFF;
    float: right;
    height: 90px;
    margin-right: 40px;
    width: 728px;
}
fieldset.search {
    border: medium none;
    margin: 0 auto;
    padding: 0;
    width: 180px;
}
.search input.box {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-size: 1.2em;
    height: 20px;
    width: 170px;
}
.search button.btn {
    background: url("../images/searchbutton.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: table-caption;
    height: 24px;
    margin-left: 150px;
    margin-top: -29px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}
.full-com2 {
    border: 1px solid #000000;
    height: 108px;
    margin-left: 20px;
    width: 600px;
}
.full-com2 dt {
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    font-size: 14px;
    height: 35px;
    line-height: 30px;
    padding-left: 20px;
}
.full-com2 dp {
    float: left;
}
.full-com2 dp img {
    height: 64px;
    margin: 4px;
    width: 96px;
}
.full-com2 dd {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
}
#RaTe {
    color: #FFFFFF;
}
#inputcomment {
    margin-left: 20px;
}
#inputcomment li {
    color: #FFFFFF;
    list-style: none outside none;
}
#inputcomment li img {
    margin-top: 5px;
}
#inputcomment li input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #606060;
    color: #FFFFFF;
    font: 16px Trebuchet MS,Arial,Helvetica,sans-serif;
}
#message textarea {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #606060;
    color: #FFFFFF;
    font: 16px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 140px;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 4px;
    width: 96%;
}
#Cstats {
    color: #FFFFFF;
    margin-left: 20px;
}
.button {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #E24816;
    display: block;
    font: bold 14px/22px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 30px;
    overflow: hidden;
    text-align: center;
    width: 110px;
}
.button:hover {
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.biggerbutton {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #E24816;
    display: block;
    font: bold 14px/22px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 30px;
    overflow: hidden;
    text-align: center;
}
.biggerbutton:hover {
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.biggerbutton2 {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border: 1px solid transparent;
    border-radius: 8px 8px 8px 8px;
    color: #E24816;
    font: bold 14px/22px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 25px;
    overflow: hidden;
    text-align: center;
}
.biggerbutton2:hover {
    border: 1px solid #E24816;
    text-decoration: none;
}
#profile-right {
    float: left;
}
#profile-left {
    float: left;
    margin-right: 10px;
    width: 400px;
}
#upload-left {
    float: left;
    margin-right: 10px;
    width: 495px;
}
#upload-right {
    float: left;
    width: 495px;
}
#submenu ul {
    background: url("../images/submenu_bg.png") repeat-x scroll left top transparent;
    height: 20px;
    line-height: 20px;
    padding-left: 165px;
    text-decoration: none;
    width: 859px;
}
#submenu ul li.left {
    clear: left;
    display: block;
    float: left;
    height: 20px;
    width: 23px;
}
#submenu ul li {
    display: inline;
    float: left;
    list-style: none outside none;
    text-align: center;
    text-decoration: none;
    width: auto;
}
#submenu ul li a {
    color: #E24816;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-transform: inherit;
}
#submenu ul li em {
    background: url("../images/submenu_sep.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 20px;
    width: 1px;
}
#submenu ul li.sep {
    background: url("../images/submenu_sep.png") no-repeat scroll left top transparent;
    width: 1px;
}
#submenu ul li a:hover, #menu ul li a.active {
    background: url("../images/submenu_over.png") repeat-x scroll center top transparent;
    color: white;
    text-decoration: none;
}
#submenu ul li a.active {
    cursor: default;
    font-weight: bold;
}
#account-front {
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 155px;
    width: 1007px;
}
#account-front em {
    color: #FFFFFF;
    font-weight: normal;
}
.account-pic {
    border: 1px solid #000000;
    float: left;
    margin: 5px;
    padding: 2px;
}
.account-text {
    float: left;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
#account-left {
    float: left;
    width: 220px;
}
#account-main {
    float: left;
    margin: 5px 10px;
    width: 800px;
}
.messages {
    border: 1px solid #FFFFFF;
    float: left;
    list-style: none outside none;
    margin-bottom: 5px !important;
    padding: 0;
    width: 780px;
}
.messages li {
    border-bottom: 1px solid #FFFFFF;
    height: 240px;
}
.messages-pic {
    float: left;
    font-size: 14px;
    margin: 5px;
    width: 165px;
}
.messages-text {
    float: left;
    font-size: 14px;
}
.messages-body {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    min-height: 125px;
    width: 565px;
}
.messages-commands {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    width: 565px;
}
ul.mymedia {
    float: left;
    list-style: none outside none;
    padding: 20px;
    width: 780px;
}
ul.mymedia li {
    border: 1px solid transparent;
    float: left;
    height: 230px;
    margin: 5px 15px 20px 0;
    padding: 1px;
    position: relative;
    width: 170px;
}
ul.mymedia li:hover {
    background: none repeat scroll 0 0 #B0B65C;
    border: 1px solid #000000;
}
ul.mymedia li img {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #DDDDDD;
    height: 120px;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 160px;
}
ul.mymedia li div.thumbholder {
    color: #FFFFFF;
    float: left;
    height: 100px;
    margin-top: 125px;
    width: 170px;
}
.glossymenu {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000;
    border-style: solid;
    border-width: 1px 1px 0;
    float: left;
    margin: 5px 0;
    padding: 0;
    width: 170px;
}
.glossymenu a.menuitem {
    background: url("../images/glossyback.jpg") repeat-x scroll left bottom black;
    color: #E24816;
    display: block;
    padding: 4px 0 4px 10px;
    position: relative;
    text-decoration: none;
    width: auto;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active {
    color: white;
}
.glossymenu a.menuitem .statusicon {
    border: medium none;
    position: absolute;
    right: 5px;
    top: 5px;
}
.glossymenu a.menuitem:hover {
    background-image: url("../images/glossyback2.jpg");
}
.glossymenu div.submenu {
    background: none repeat scroll 0 0 transparent;
}
.glossymenu div.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.glossymenu div.submenu ul li {
    border-bottom: 1px solid #000000;
}
.glossymenu div.submenu ul li a {
    color: #FFFFFF;
    display: block;
    padding: 2px 0 2px 10px;
    text-decoration: none;
}
.glossymenu div.submenu ul li a:hover {
    background: none repeat scroll 0 0 #B0B65C;
}
#btnSubmit {
    background: url("../images/menu_over.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    color: #E24816;
    display: block;
    font: bold 14px/22px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 30px;
    margin: 0 0 0 155px;
    overflow: hidden;
    text-align: center;
    width: 110px;
}
.progressWrapper {
    margin-left: 50px;
    overflow: hidden;
    width: 357px;
}
.progressContainer {
    background-color: #F7F7F7;
    border: 1px solid #E8E8E8;
    margin: 5px;
    overflow: hidden;
    padding: 4px;
}
.message {
    background-color: #FFFFCC;
    border: 1px solid #FFDD99;
    margin: 1em 0;
    overflow: hidden;
    padding: 10px 20px;
}
.red {
    background-color: #FFEBEB;
    border: 1px solid #B50000;
}
.green {
    background: none repeat scroll 0 0 #262626;
    border-color: #171717 #333333;
    border-style: double;
    border-width: 1px;
}
.blue {
    background-color: #F0F5FF;
    border: 1px solid #CEE2F2;
}
.progressName {
    color: #E24816;
    font-size: 8pt;
    font-weight: 700;
    height: 14px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    width: 323px;
}
.progressBarInProgress, .progressBarComplete, .progressBarError {
    background-color: #E24816;
    font-size: 0;
    height: 7px;
    margin-top: 2px;
    width: 0;
}
.progressBarComplete {
    background-color: green;
    visibility: hidden;
    width: 100%;
}
.progressBarError {
    background-color: red;
    visibility: hidden;
    width: 100%;
}
.progressBarStatus {
    font-family: Arial;
    font-size: 7pt;
    margin-top: 2px;
    text-align: left;
    white-space: nowrap;
    width: 337px;
}
a.progressCancel {
    background-image: url("../images/cancelbutton.gif");
    background-position: -14px 0;
    background-repeat: no-repeat;
    display: block;
    float: right;
    font-size: 0;
    height: 14px;
    width: 14px;
}
a.progressCancel:hover {
    background-position: 0 0;
}
